{% extends "base.html" %}

{% block title %}User{% endblock %}

{% block content %}
<form method="POST">
    <div vlass="mb-3">
        <label for="employeeId" class="form-label">Employee ID</label>
        <input 
            class="form-control" 
            type="number"  
            id="employeeId"
            name="employeeId"
        />
    </div>
    <div class="mb-3">
        <input 
            class="btn btn-primary" 
            type="submit"
            id="clockIn" 
            value="Clock in"
            onclick="sendDateToServer()"
        />
    </div>
    <div class="mb-3">
        <input 
            class="btn btn-primary" 
            type="submit"
            id="clockOut" 
            value="Clock out"
            onclick="sendDateToServer()"
        />
    </div>
</form>
<script>
    type="text/javascript"
    src="{{ url_for('static', filename='index.js') }}"
</script>
{% endblock %}